autopep8==1.4.4
certifi==2022.12.7
colorama==0.4.1
daterangestr==0.0.3
entrypoints==0.3
flake8==3.7.7
lxml==4.3.3
mccabe==0.6.1
openweather==0.11
pipenv==2018.11.26
pycodestyle==2.5.0
pyflakes==2.1.1
speedtest-cli==2.1.1
SQLAlchemy==1.3.4
virtualenv==16.6.0
virtualenv-clone==0.5.3
geographiclib==1.50
geopy==2.0.0
PyDictionary==2.0.1